<section class="border border-orange-300 border-dashed bg-orange-100/20 px-4 py-4 ">
  <div class="mx-auto max-w-screen-sm text-center">
    <h4 class="mb-1 text-center text-lg font-semibold text-red-700">
      ƯU ĐÃI CHIẾT KHẤU HẤP DẪN TRONG THÁNG 06/2023
    </h4>
    <a
      href="#"
      class="inline-block rounded-3xl  bg-gradient-to-r from-primary to-red-600 px-6 py-3 text-center font-semibold leading-tight  text-white text-opacity-90  duration-300 hover:bg-gradient-to-l"
      >Đăng ký ngay</a>
  </div>
</section>
