<section class="py-10">
  <h2
    class="font-lora mb-6 text-left text-2xl font-bold text-tertiary md:text-3xl"
  >
    Đăng Ký Tư Vấn - Nhận Thông Ngay
  </h2>
  <div class="prose">
    <div class="">
      <p>
        <span style="font-size: 16px"
          ><span style="color: rgb(128, 0, 0)"
            ><strong
              >Nếu quý khách cần thông tin chi tiết về&nbsp;BẢNG GIÁ, LỊCH THANH
              TOÁN, CHÍNH SÁCH VAY ƯU ĐÃI, CHƯƠNG TRÌNH KHUYẾN
              MÃI.&nbsp;</strong
            ></span
          ></span
        >
      </p>

      <p>
        <span style="font-size: 16px"
          ><span style="color: rgb(128, 0, 0)"
            ><strong
              >Vui lòng liên hệ&nbsp;HOTLINE: 0902942858&nbsp;hoặc để lại thông
              tin để được hỗ trợ&nbsp;ngay từ chuyên viên tư vấn của CĐT Phú Mỹ
              Hưng</strong
            ></span
          ></span
        >
      </p>

      <p style="text-align: center">
        <img
          alt=""
          src="http://phumyhungsale.com/data/upload/image_manual/nhan-vien-tu-van-du-an-amelie-phu-my-hung_4.jpg?1663660173940"
          style="
            border: 0px;
            box-sizing: border-box;
            height: 675px;
            max-width: 100%;
            outline: 0px;
            padding: 0px;
            vertical-align: middle;
            width: 1400px;
          "
        />
      </p>


      <h4>
        <span style="color: rgb(128, 0, 0)"
          ><strong
            >LỢI ÍCH CỦA KHÁCH HÀNG KHI LÀM VIỆC VỚI CHÚNG TÔI LÀ GÌ?</strong
          ></span
        >
      </h4>

      <p>
        ✅ Bảo chứng bởi thương hiệu uy tín&nbsp;Chủ đầu tư Phú Mỹ Hưng với 30
        kinh nghiệm trong lĩnh vực BĐS
      </p>

      <p>✅ Sản phẩm 100% pháp lý rõ ràng, minh bạch, sổ hồng sở hữu lâu dài</p>

      <p>
        ✅ Làm việc trực tiếp với Sales &nbsp;chủ đầu tư để được hỗ trợ tận tình
        - chuyên nghiệp - nhiều năm&nbsp;kinh nghiệm&nbsp;
      </p>

      <p>
        ✅ Cập nhật những chính sách mới nhất về sản phẩm, dịch vụ, chính sách,
        ưu đãi từ Công ty
      </p>

      <p>
        ✅ Chọn được căn ưng ý với giỏ hàng đẹp và chính sách bán hàng cực kỳ ưu
        đãi cho khách hàng mua trực tiếp CĐT
      </p>

      <p>
        ✅ Hỗ trợ tư vấn vay ngân hàng lãi suất 0%, làm thủ tục nhanh chóng,
        tiện lợi
      </p>

    </div>
  </div>
</section>
