<!-- Blog Section Start  -->
<section class="blog-section relative py-6 md:py-10">
  <div class="container">
    <h2
      class="font-lora mb-6 text-center text-2xl font-bold text-primary md:text-3xl"
    >
      Dự Án Khác
    </h2>
    <div class=" grid gap-7 sm:grid-cols-2 lg:grid-cols-3">
      <div
        class="overflow-hidden rounded-md bg-[#FFFDFC] text-center drop-shadow-[0px_0px_5px_rgba(0,0,0,0.1)] transition-all duration-300 hover:-translate-y-[10px]"
      >
        <div class="relative">
          <a href="properties-details.html" class="block">
            <img
              src="https://phumyhungsale.com/runtime/cache_image/350x284/project/Screen_Shot_2023-07-07_at_17.06.00_64a7e932bddbb.png"
              class="h-full w-full"
              loading="lazy"
              width="370"
              height="266"
              alt="Orchid Casel de Paradise."
            />
          </a>
       
        </div>

        <div class="px-[20px] py-[20px] text-left">
          <h3>
            <a
              href="properties-details.html"
              class="font-lora text-[22px] font-medium leading-tight text-primary transition-all hover:text-secondary xl:text-[26px]"
              >
              Shophouse Phú Mỹ Hưng</a
            >
          </h3>
          <div class=" text-sm text-gray-500 py-1"><i class="ph ph-map-pin"></i> Quận 7 - Hồ Chí Minh  </div>
          <span class="text-sm font-light">Shophouse Phú Mỹ Hưng được ví như con gà đẻ trứng vàng với số lượng cực hữu hạn chỉ chiếm 3% trên tổng...</span>
       

          <ul class="mt-4">
            <li class="flex flex-wrap items-center justify-between">
              <span
                class="font-lora text-lg font-medium leading-none text-primary"
                >Giá bán: Thương lượng</span
              >

            
            </li>
          </ul>
        </div>
      </div>

      <div
      class="overflow-hidden rounded-md bg-[#FFFDFC] text-center drop-shadow-[0px_0px_5px_rgba(0,0,0,0.1)] transition-all duration-300 hover:-translate-y-[10px]"
    >
      <div class="relative">
        <a href="properties-details.html" class="block">
          <img
            src="https://phumyhungsale.com/runtime/cache_image/350x284/project/banner-chinh-horizon-1_631a9a1a0cd5a.png"
            class="h-full w-full"
            loading="lazy"
            width="370"
            height="266"
            alt="Orchid Casel de Paradise."
          />
        </a>
     
      </div>

      <div class="px-[20px] py-[20px] text-left">
        <h3>
          <a
            href="properties-details.html"
            class="font-lora text-[22px] font-medium leading-tight text-primary transition-all hover:text-secondary xl:text-[26px]"
            >
            The Horizon</a
          >
        </h3>
        <div class=" text-sm text-gray-500 py-1"><i class="ph ph-map-pin"></i> Quận 7 - Hồ Chí Minh  </div>
        <span class="text-sm font-light">Shophouse Phú Mỹ Hưng được ví như con gà đẻ trứng vàng với số lượng cực hữu hạn chỉ chiếm 3% trên tổng...</span>
     

        <ul class="mt-4">
          <li class="flex flex-wrap items-center justify-between">
            <span
              class="font-lora text-lg font-medium leading-none text-primary"
              >Giá bán: Thương lượng</span
            >

          
          </li>
        </ul>
      </div>
    </div>

    <div
    class="overflow-hidden rounded-md bg-[#FFFDFC] text-center drop-shadow-[0px_0px_5px_rgba(0,0,0,0.1)] transition-all duration-300 hover:-translate-y-[10px]"
  >
    <div class="relative">
      <a href="properties-details.html" class="block">
        <img
          src="https://phumyhungsale.com/runtime/cache_image/350x284/project/H2_5d5810dbde557.jpg"
          class="h-full w-full"
          loading="lazy"
          width="370"
          height="266"
          alt="Orchid Casel de Paradise."
        />
      </a>
   
    </div>

    <div class="px-[20px] py-[20px] text-left">
      <h3>
        <a
          href="properties-details.html"
          class="font-lora text-[22px] font-medium leading-tight text-primary transition-all hover:text-secondary xl:text-[26px]"
          >
          
          The Peak Midtown  </a
        >
      </h3>
      <div class=" text-sm text-gray-500 py-1"><i class="ph ph-map-pin"></i> Quận 7 - Hồ Chí Minh  </div>
      <span class="text-sm font-light">Shophouse Phú Mỹ Hưng được ví như con gà đẻ trứng vàng với số lượng cực hữu hạn chỉ chiếm 3% trên tổng...</span>
   

      <ul class="mt-4">
        <li class="flex flex-wrap items-center justify-between">
          <span
            class="font-lora text-lg font-medium leading-none text-primary"
            >Giá bán: Thương lượng</span
          >

        
        </li>
      </ul>
    </div>
  </div>
    </div>
  </div>
</section>
<!-- Blog Section End  -->
