<div
  style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
  class="swiper  mySwiperGalleryThumb overflow-hidden rounded-md"
>
  <div class="swiper-wrapper gallery-lightbox">
    <div class="swiper-slide rounded">
      <a
        
        href="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/z4243029718278_f3c236e69b68019a4a8d44927b761ddf_642ea0ff09fc3.jpg"
      >
        <div
          class="absolute bottom-0 w-full bg-gradient-to-t from-black/80 via-black/50 to-transparent px-5 pb-4 pt-16 text-white/80"
        >
          Phòng chơi trẻ em
        </div>
        <img
          src="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/z4243029718278_f3c236e69b68019a4a8d44927b761ddf_642ea0ff09fc3.jpg"
        />
      </a>
    </div>
    <div class="swiper-slide">
      <a
        
        href="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/z4243029724419_0952753542bcabe0addc849c34d796e1_642ea0ff0ab70.jpg"
      >
        <div
          class="absolute bottom-0 w-full bg-gradient-to-t from-black/90 via-black/70 to-transparent px-5 pb-4 pt-8 text-white/80"
        >
          Phòng giải trí
        </div>
        <img
          src="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/z4243029724419_0952753542bcabe0addc849c34d796e1_642ea0ff0ab70.jpg"
        />
      </a>
    </div>
    <div class="swiper-slide">
      <a
        
        href="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/z4243029728267_2b471b40d122090065f23e12ad747589_642ea0ff0b1e7.jpg"
      >
        <div
          class="absolute bottom-0 w-full bg-gradient-to-t from-black/90 via-black/70 to-transparent px-5 pb-4 pt-8 text-white/80"
        >
          Phòng giải trí
        </div>
        <img
          src="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/z4243029728267_2b471b40d122090065f23e12ad747589_642ea0ff0b1e7.jpg"
      /></a>
    </div>
    <div class="swiper-slide">
      <a
        
        href="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/z4243029729272_6f31a810d7adfdc7c6eb3cd95ed2d0ae_642ea0ff0bda6.jpg"
      >
        <div
          class="absolute bottom-0 w-full bg-gradient-to-t from-black/90 via-black/70 to-transparent px-5 pb-4 pt-8 text-white/80"
        >
          Phòng giải trí
        </div>
        <img
          src="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/z4243029729272_6f31a810d7adfdc7c6eb3cd95ed2d0ae_642ea0ff0bda6.jpg"
      /></a>
    </div>
    <div class="swiper-slide">
      <a
        
        href="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/z4243029745820_f4a7308b62e0ac3266ea84f97960e1ef_642ea0ff0e40e.jpg"
      >
        <div
          class="absolute bottom-0 w-full bg-gradient-to-t from-black/90 via-black/70 to-transparent px-5 pb-4 pt-8 text-white/80"
        >
          Phòng giải trí
        </div>
        <img
          src="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/z4243029745820_f4a7308b62e0ac3266ea84f97960e1ef_642ea0ff0e40e.jpg"
        />
      </a>
    </div>
    <div class="swiper-slide">
      <a
        
        href="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/z4243029748669_c1440605772f0dcb809a35ef6a8c9dea_642ea0ff0f0b5.jpg"
      >
        <div
          class="absolute bottom-0 w-full bg-gradient-to-t from-black/90 via-black/70 to-transparent px-5 pb-4 pt-8 text-white/80"
        >
          Phòng giải trí
        </div>
        <img
          src="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/z4243029748669_c1440605772f0dcb809a35ef6a8c9dea_642ea0ff0f0b5.jpg"
      /></a>
    </div>
    <div class="swiper-slide">
      <a
        
        href="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/the-antonia-san-choi-tre-em_642f9094ae1be.jpeg"
      >
        <div
          class="absolute bottom-0 w-full bg-gradient-to-t from-black/90 via-black/70 to-transparent px-5 pb-4 pt-8 text-white/80"
        >
          Phòng giải trí
        </div>
        <img
          src="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/the-antonia-san-choi-tre-em_642f9094ae1be.jpeg"
        />
      </a>
    </div>

    <div class="swiper-slide">
      <a
        
        href="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/ho%CC%82%CC%80%20bo%CC%9Bi_642f91f416390.jpeg"
      >
        <div
          class="absolute bottom-0 w-full bg-gradient-to-t from-black/90 via-black/70 to-transparent px-5 pb-4 pt-8 text-white/80"
        >
          Phòng giải trí
        </div>
        <img
          src="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/ho%CC%82%CC%80%20bo%CC%9Bi_642f91f416390.jpeg"
      /></a>
    </div>

    <div class="swiper-slide">
      <a
        
        href="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/kidzone_642f920213a4b.jpeg"
      >
        <div
          class="absolute bottom-0 w-full bg-gradient-to-t from-black/90 via-black/70 to-transparent px-5 pb-4 pt-8 text-white/80"
        >
          Phòng giải trí
        </div>
        <img
          src="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/kidzone_642f920213a4b.jpeg"
        />
      </a>
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<div thumbsSlider="" class="swiper  mySwiperGalleryMain mt-3">
  <div class="swiper-wrapper">
    <div class="swiper-slide rounded overflow-hidden cursor-pointer">
      <img
        src="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/z4243029718278_f3c236e69b68019a4a8d44927b761ddf_642ea0ff09fc3.jpg"
      />
    </div>
    <div class="swiper-slide rounded overflow-hidden cursor-pointer">
      <img
        src="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/z4243029724419_0952753542bcabe0addc849c34d796e1_642ea0ff0ab70.jpg"
      />
    </div>
    <div class="swiper-slide rounded overflow-hidden cursor-pointer">
      <img
        src="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/z4243029728267_2b471b40d122090065f23e12ad747589_642ea0ff0b1e7.jpg"
      />
    </div>
    <div class="swiper-slide rounded overflow-hidden cursor-pointer">
      <img
        src="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/z4243029729272_6f31a810d7adfdc7c6eb3cd95ed2d0ae_642ea0ff0bda6.jpg"
      />
    </div>
    <div class="swiper-slide rounded overflow-hidden cursor-pointer">
      <img
        src="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/z4243029745820_f4a7308b62e0ac3266ea84f97960e1ef_642ea0ff0e40e.jpg"
      />
    </div>
    <div class="swiper-slide rounded overflow-hidden cursor-pointer">
      <img
        src="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/z4243029748669_c1440605772f0dcb809a35ef6a8c9dea_642ea0ff0f0b5.jpg"
      />
    </div>
    <div class="swiper-slide rounded overflow-hidden cursor-pointer">
      <img
        src="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/the-antonia-san-choi-tre-em_642f9094ae1be.jpeg"
      />
    </div>
    <div class="swiper-slide rounded overflow-hidden cursor-pointer">
      <img
        src="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/ho%CC%82%CC%80%20bo%CC%9Bi_642f91f416390.jpeg"
      />
    </div>
    <div class="swiper-slide rounded overflow-hidden cursor-pointer">
      <img
        src="https://phumyhungsale.com/runtime/cache_image/920x515/project_media/kidzone_642f920213a4b.jpeg"
      />
    </div>
  </div>
</div>

