<!-- Header start -->

<header
  id="sticky-header"
  class="absolute left-0 top-[15px] z-10 w-full lg:top-[30px] xl:top-[40px]"
>
  <div class="container">
    <div class="grid grid-cols-12">
      <div class="col-span-12">
        <div class="flex flex-wrap items-center justify-between">
          <a href="index.html" class="block">

            <img
              class="white-logo"
              src="https://phumyhungsale.com/themes/frontend/images/logo.svg"
              loading="lazy"
              width="70"
              alt="brand logo"
            />
            <img
              class="dark-logo hidden"
              src="https://phumyhungsale.com/themes/frontend/images/logo.svg"
              loading="lazy"
              width="70"
              alt="brand logo"
            />
          </a>
          <nav class="flex flex-wrap items-center">
            <ul
              class="font-lora hidden flex-wrap items-center space-x-6 leading-none text-black lg:flex text-lg"
            >
              <li class="relative">
                <a
                  href="/index.html"
                  class="sticky-dark text-white transition-all hover:text-secondary hover:underline"
                  >The Antonio</a
                >
              </li>
              <li class="relative">
                <a
                  href="matbang.html"
                  class="sticky-dark text-white transition-all hover:text-secondary hover:underline"
                  >Mặt bằng</a
                >
              </li>

              <li class="relative">
                <a
                  href="kieucanho.html"
                  class="sticky-dark text-white transition-all hover:text-secondary hover:underline"
                  >Kiểu căn hộ</a
                >
              </li>

              <li class="relative">
                <a
                  href="canhothucte.html"
                  class="sticky-dark text-white transition-all hover:text-secondary hover:underline"
                  >Căn hộ thực tế</a
                >
              </li>

              <li class="relative">
                <a
                  href="giaban.html"
                  class="sticky-dark text-white transition-all hover:text-secondary hover:underline"
                  >Giá bán</a
                >
              </li>

              <li class="relative">
                <a
                  href="hotrotaichinh.html"
                  class="sticky-dark text-white transition-all hover:text-secondary hover:underline"
                  >Hỗ trợ tài chính</a
                >
              </li>

              <li class="relative">
                <a
                  href="tinduan.html"
                  class="sticky-dark text-white transition-all hover:text-secondary hover:underline"
                  >Tin dự án</a
                >
              </li>
            </ul>
            <ul class="ml-5 flex flex-wrap items-center">
              <!-- <li>
                <a
                  href="add-properties.html"
                  class="sticky-btn relative hidden px-[20px] py-[15px] text-[14px] font-medium capitalize leading-none text-white before:absolute before:inset-y-0 before:left-auto before:right-0 before:-z-[1] before:block before:w-0 before:rounded-md before:bg-white before:transition-all after:absolute after:inset-0 after:-z-[2] after:block after:rounded-md after:bg-secondary after:transition-all hover:text-primary hover:before:left-0 hover:before:right-auto hover:before:w-full sm:block xl:text-[16px]"
                  >Liên hệ ngay</a
                >
              </li> -->

              <li class="ml-2 sm:ml-5 lg:hidden">
                <a
                  href="#offcanvas-mobile-menu"
                  class="offcanvas-toggle flex text-secondary text-4xl hover:text-secondary"
                >
                 <i class="ph ph-list"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- offcanvas-overlay start -->
<div
  class="offcanvas-overlay fixed inset-0 z-50 hidden bg-black opacity-50"
></div>
<!-- offcanvas-overlay end -->
<!-- offcanvas-mobile-menu start -->
<div
  id="offcanvas-mobile-menu"
  class="offcanvas fixed left-0 top-0 z-50 h-screen w-[300px] -translate-x-full transform bg-white text-sm font-normal transition-all duration-300 ease-in-out lg:w-[380px]"
>
  <div class="h-[100vh] overflow-y-auto py-12 pr-5">
    <!-- close button start -->
    
    <button
      class="offcanvas-close absolute right-0 top-0 z-[1] h-16 w-16 mt-3  text-3xl text-primary"
      aria-label="offcanvas"
    >
      <i class="ph ph-x"></i>
    </button>
    <!-- close button end -->

    <!-- offcanvas-menu start -->

    <nav class="offcanvas-menu mr-[20px]">
      <ul class="py-5 px-6 grid grid-cols-1 gap-y-6">
        <li class="relative">
          <a
            href="/index.html"
            class=" text-gray-700 font-lora text-xl transition-all hover:text-secondary hover:underline"
            >The Antonio</a
          >
        </li>
        <li class="relative">
          <a
            href="matbang.html"
            class=" text-gray-700 font-lora text-xl transition-all hover:text-secondary hover:underline"
            >Mặt bằng</a
          >
        </li>

        <li class="relative">
          <a
            href="kieucanho.html"
            class=" text-gray-700 font-lora text-xl transition-all hover:text-secondary hover:underline"
            >Kiểu căn hộ</a
          >
        </li>

        <li class="relative">
          <a
            href="canhothucte.html"
            class=" text-gray-700 font-lora text-xl transition-all hover:text-secondary hover:underline"
            >Căn hộ thực tế</a
          >
        </li>

        <li class="relative">
          <a
            href="giaban.html"
            class=" text-gray-700 font-lora text-xl transition-all hover:text-secondary hover:underline"
            >Giá bán</a
          >
        </li>

        <li class="relative">
          <a
            href="hotrotaichinh.html"
            class=" text-gray-700 font-lora text-xl transition-all hover:text-secondary hover:underline"
            >Hỗ trợ tài chính</a
          >
        </li>

        <li class="relative">
          <a
            href="tinduan.html"
            class=" text-gray-700 font-lora text-xl transition-all hover:text-secondary hover:underline"
            >Tin dự án</a
          >
        </li>
      </ul>
    </nav>
    <!-- offcanvas-menu end -->

    <!-- <div class="mt-3 flex flex-wrap px-5 sm:hidden">
      <a
        href="#"
        class="relative px-[20px] py-[15px] text-[14px] font-medium capitalize leading-none text-white before:absolute before:inset-y-0 before:left-auto before:right-0 before:-z-[1] before:block before:w-0 before:rounded-md before:bg-secondary before:transition-all after:absolute after:inset-0 after:-z-[2] after:block after:rounded-md after:bg-primary after:transition-all hover:before:left-0 hover:before:right-auto hover:before:w-full xl:text-[16px]"
        >Liên hệ ngay</a
      >
    </div> -->
  </div>
</div>
<!-- offcanvas-mobile-menu end -->
<!-- Header end -->
