<section class="py-10">
  <h2
    class="font-lora mb-6 text-left text-2xl font-bold text-tertiary md:text-3xl"
  >
  Thanh Toán Chỉ 20% Đến Lúc Nhận Nhà - Ngân Hàng Hỗ Trợ Vay 0% Lãi Suất
  </h2>

  <div class="prose">
    
   
      <p>Dự án&nbsp;<strong>The Antonia</strong>&nbsp;có chính sách thanh toán linh hoạt, khách hàng có thể lựa chọn 1 trong 2 phương án như sau:</p>
      
      <p>✅<strong>&nbsp;Lựa chọn 1</strong>: Thanh toán bằng tiền mặt theo tiến độ đến tháng 12/2023.&nbsp;Nhận ngay Chiết khấu ưu đãi không vay hấp dẫn</p>
      
      <p style="text-align:center"><img alt="" src="http://phumyhungsale.com/data/upload/image_manual/nh%20ch%E1%BB%A5p%20M%C3%A0n%20h%C3%ACnh%202023-01-04%20l%C3%BAc%2014.27.50.png?1672817307680" style="border:0px; box-sizing:border-box; height:314px; max-width:100%; outline:0px; padding:0px; vertical-align:middle; width:1183px"></p>
      
      <p>✅&nbsp;<strong>Lựa chọn 2</strong>: Vay vốn ngân hàng, Ngân hàng BIDV tài trợ gói vay 0% lãi suất, ân hạn gốc đến lúc nhận nhà. Khách hàng chỉ cần thanh toán 20% ký hợp đồng mua bán.&nbsp;Ngân hàng hỗ trợ 70% giá trị căn hộ trong vòng tối đa 20 năm</p>
  </div>
</section>
