<!-- Blog Section Start  -->
<section class="blog-section relative py-6 md:py-20">
  <div class="container">
    <h2
      class="font-lora mb-6 text-center text-2xl font-bold text-primary md:text-3xl"
    >
    
      TIN TỨC DỰ ÁN
    </h2>
    <div class="grid gap-7 sm:grid-cols-2 lg:grid-cols-3">
      <div class="mb-6">
        <a
          href="blog-details.html"
          class="mb-6 block overflow-hidden rounded-[6px] aspect-[16/9]"
        >
          <img
            class="h-full w-full"
            src="http://phumyhungsale.com/data/upload/image_manual/z4363026387180_af50f72f63169a03fd2f8d4d1547f170.jpg?1684634720907"
            width="370"
            height="270"
            loading="lazy"
            alt="Tip’s about Real Estate Recent Conditions from Agent."
          />
        </a>
        <div>
          <span
            class="relative mb-[10px] block -translate-y-1/2 text-[14px] font-normal leading-none text-secondary before:absolute before:left-0 before:top-1/2"
            >James Alber on 22 December, 21</span
          >
          <h3>
            <a
              href="blog-details.html"
              class="font-lora mb-[10px] block text-[22px] font-medium leading-[1.285] text-primary transition-all hover:text-secondary xl:text-[24px]"
              >Event Summer Staycation The Antonia thu hút nhiều khách hàng quan </a
            >
          </h3>
          <p class="text-[16px] font-light leading-[1.75] text-[#494949]">
            Sắp đến ngày nhận bàn giao căn hộ The Antonia, nhiều khách hàng “nôn” mau mau được trải nghiệm không gian...
          </p>
        </div>
      </div>
      <div class="mb-6">
        <a
          href="blog-details.html"
          class="mb-6 block overflow-hidden rounded-[6px] aspect-[16/9]"
        >
          <img
            class="h-full w-full"
            src="http://phumyhungsale.com/data/upload/image_manual/z4286290067978_63f7164ec0ef5279ac4436a14fc36318.jpg?1682159124744"
            width="370"
            height="270"
            loading="lazy"
            alt="Importance of Build quality of modern Real Estate."
          />
        </a>
        <div>
          <span
            class="relative mb-[10px] block -translate-y-1/2 text-[14px] font-normal leading-none text-secondary before:absolute before:left-0 before:top-1/2"
            >Shohel Gyes on 21 December, 21</span
          >
          <h3>
            <a
              href="blog-details.html"
              class="font-lora mb-[10px] block text-[22px] font-medium leading-[1.285] text-primary transition-all hover:text-secondary xl:text-[24px]"
              >An ninh tại Phu My Hung The Horizon có thực sự an toàn??</a
            >
          </h3>
          <p class="text-[16px] font-light leading-[1.75] text-[#494949]">
            Theo một nghiên cứu tại Malaysia, hệ thống an ninh là một trong 9 tiêu chí ảnh hưởng quyết định mua nhà của...
          </p>
        </div>
      </div>
      <div class="mb-6">
        <a
          href="blog-details.html"
          class="mb-6 block overflow-hidden rounded-[6px] aspect-[16/9]"
        >
          <img
            class="h-full w-full"
            src="http://phumyhungsale.com/data/upload/image_manual/The-Antonia-truoc-ngay-ban-giao-co-gi-hot-4.jpg?1682159348487"
            width="370"
            height="270"
            loading="lazy"
            alt="Importance of Build quality of modern Real Estate."
          />
        </a>
        <div>
          <span
            class="relative mb-[10px] block -translate-y-1/2 text-[14px] font-normal leading-none text-secondary before:absolute before:left-0 before:top-1/2"
            >Shohel Gyes on 21 December, 21</span
          >
          <h3>
            <a
              href="blog-details.html"
              class="font-lora mb-[10px] block text-[22px] font-medium leading-[1.285] text-primary transition-all hover:text-secondary xl:text-[24px]"
              >The Antonia Có đáp Ứng Được Sự Hài Lòng Của Khách Hàng??</a
            >
          </h3>
          <p class="text-[16px] font-light leading-[1.75] text-[#494949]">
            Trải nghiệm thực tế của khách hàng khi đến tham quan The Antonia sẽ là câu trả lời cho chất lượng sản phẩm...
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog Section End  -->
