<section class="pb-10">
  
  <h2
    class="font-lora mb-6 text-left text-2xl font-medium text-primary md:text-3xl"
  >
    Tổng quan dự án <strong>The Antonia</strong>
  </h2>

  <div class="prose">
    <p style="text-align: justify">
      <strong
        ><a href="https://phumyhungsale.com/vi/du-an/the-antonia">The Antonia</a
        >&nbsp;</strong
      >là dự án căn hộ cao cấp là mảnh ghép không thể thiếu để hoàn thiện bức
      tranh hiện đại, năng động và nhộn nhịp của trục đường doanh thường sầm uất
      bậc nhất khu đô thị Phú Mỹ Hưng. Mỗi dự án phát triển dọc theo trục đường
      Nguyễn Lương Bằng đều là một hợp phần tạo điểm nhấn ấn tượng cho đại lộ
      huyết mạch mang phong cách kiến trúc đầy nghệ thuật. Không ngoại
      lệ&nbsp;<strong
        ><a href="https://phumyhungsale.com/vi/du-an/the-antonia"
          >The Antonia</a
        ></strong
      >&nbsp;là một trong những dự án như thế.
    </p>

    <p style="text-align: justify">
      <strong
        ><a href="https://phumyhungsale.com/vi/du-an/the-antonia"
          >The Antonia Phú Mỹ Hưng</a
        >&nbsp;</strong
      >&nbsp;đem đến đặc quyền được sở hữu cho 366 chủ nhân tôn quý&nbsp;có
      vị&nbsp;trí toạ lạc ngay mặt tiền trục đại lộ thương mại Nguyễn Lương Bằng
      rộng 48m, được triển khai xây dựng trên lô đất S6-1 bao gồm 2 block nhà
      cao 24 tầng. Tựa phố giữa vườn với&nbsp;bao thanh âm thị tứ phồn hoa trong
      hương vị thiên nhiên tràn ngập,&nbsp;<strong
        ><a href="https://phumyhungsale.com/vi/du-an/the-antonia"
          >The Antonia</a
        ></strong
      >&nbsp;là lựa chọn sáng giá cho khởi đầu&nbsp;hành trình hạnh phúc thăng
      hoa.
    </p>
    <p></p>
    <div class="bg-red-50 px-4 py-1">
      <table>
        <tbody>
          <tr>
            <td><div class="font-bold">Tên dự án</div></td>
            <td>The Antonia</td>
          </tr>
          <tr>
            <td><div class="font-bold">Vị trí</div></td>
            <td>Lô S6-1, Đại lộ Nguyễn Lương Bằng, Tân Phú, Q7</td>
          </tr>
          <tr>
            <td><div class="font-bold">Diện tích</div></td>
            <td>5.880 m2</td>
          </tr>
          <tr>
            <td><div class="font-bold">Mật độ xây dựng:</div></td>
            <td>52,77%</td>
          </tr>

          <tr>
            <td><div class="font-bold">Chủ đầu tư:</div></td>
            <td>Phú Mỹ Hưng</td>
          </tr>

          <tr>
            <td><div class="font-bold">Số lượng căn hộ:</div></td>
            <td>
              981 căn hộ:<br />
              - <strong>Building A:</strong> 183 căn<br />
              - <strong>Building B:</strong> 183 căn
            </td>
          </tr>

          <tr>
            <td><div class="font-bold">Số lượng căn hộ:</div></td>
            <td>
              981 căn hộ:<br />
              - <strong>Building A:</strong> 183 căn<br />
              - <strong>Building B:</strong> 183 căn
            </td>
          </tr>

          <tr>
            <td><div class="font-bold">Số lượng căn hộ:</div></td>
            <td>
              Đa dạng các loại căn hộ:<br />
              <strong>- 2 Phòng ngủ&nbsp;</strong>(76.40 - 89.02 m2):
              280&nbsp;căn<br />
              <strong>- 3 Phòng ngủ&nbsp;</strong>(107.30 - 111.01&nbsp;m2): 80
              căn<br />
              <strong>- Penhouse&nbsp;</strong>(256.81 - 273.73 m2):
              6&nbsp;căn<br />
              <strong>- Cửa hàng</strong>&nbsp;(tầng 1 - tầng 2): 15&nbsp;căn
            </td>
          </tr>

          <tr>
            <td><div class="font-bold">Thời gian dự kiến:</div></td>
            <td>Khởi công: 2019, Hoàn tất: 06/2023</td>
          </tr>
          <tr>
            <td><div class="font-bold">Tiêu chuẩn bàn giao:</div></td>
            <td>Hoàn thiện cao cấp</td>
          </tr>

          <tr>
            <td><div class="font-bold">Khối đế:</div></td>
            <td>Gồm 2 khối công trình cao 24 tầng (không tính tầng hầm)</td>
          </tr>

          <tr>
            <td><div class="font-bold">Pháp lý dự án:</div></td>
            <td>
              Sở hữu lâu dài với người Việt Nam & 50 năm đối với người nước
              ngoài
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- 
<div
  class="relative grid grid-cols-1 divide-y divide-dotted divide-gray-200 rounded-md bg-red-50 px-4 text-sm md:px-6 md:py-1 md:text-base"
>
  <div class="flex items-start space-x-4 py-3">
    <div class="w-32 shrink-0 font-bold md:w-40">Tên dự án</div>
    <div class="min-w-0 grow">The Antonia</div>
  </div>

  <div class="flex items-start space-x-4 py-3">
    <div class="w-32 shrink-0 font-bold md:w-40">Vị trí:</div>
    <div class="min-w-0 grow">
      Lô S6-1, Đại lộ Nguyễn Lương Bằng, Tân Phú, Q7
    </div>
  </div>

  <div class="flex items-start space-x-4 py-3">
    <div class="w-32 shrink-0 font-bold md:w-40">Diện tích:</div>
    <div class="min-w-0 grow">5.880 m2</div>
  </div>

  <div class="flex items-start space-x-4 py-3">
    <div class="w-32 shrink-0 font-bold md:w-40">Mật độ xây dựng:</div>
    <div class="min-w-0 grow">52,77%</div>
  </div>

  <div class="flex items-start space-x-4 py-3">
    <div class="w-32 shrink-0 font-bold md:w-40">Chủ đầu tư:</div>
    <div class="min-w-0 grow">Phú Mỹ Hưng</div>
  </div>

  <div class="flex items-start space-x-4 py-3">
    <div class="w-32 shrink-0 font-bold md:w-40">Số lượng căn hộ:</div>
    <div class="min-w-0 grow">
      981 căn hộ:<br />
      - <strong>Building A:</strong> 183 căn<br />
      - <strong>Building B:</strong> 183 căn
    </div>
  </div>

  <div class="flex items-start space-x-4 py-3">
    <div class="w-32 shrink-0 font-bold md:w-40">Số lượng căn hộ:</div>
    <div class="min-w-0 grow">
      981 căn hộ:<br />
      - <strong>Building A:</strong> 183 căn<br />
      - <strong>Building B:</strong> 183 căn
    </div>
  </div>

  <div class="flex items-start space-x-4 py-3">
    <div class="w-32 shrink-0 font-bold md:w-40">Số lượng căn hộ:</div>
    <div class="min-w-0 grow">
      Đa dạng các loại căn hộ:<br />
      <strong>- 2 Phòng ngủ&nbsp;</strong>(76.40 - 89.02 m2): 280&nbsp;căn<br />
      <strong>- 3 Phòng ngủ&nbsp;</strong>(107.30 - 111.01&nbsp;m2): 80 căn<br />
      <strong>- Penhouse&nbsp;</strong>(256.81 - 273.73 m2): 6&nbsp;căn<br />
      <strong>- Cửa hàng</strong>&nbsp;(tầng 1 - tầng 2): 15&nbsp;căn
    </div>
  </div>

  <div class="flex items-start space-x-4 py-3">
    <div class="w-32 shrink-0 font-bold md:w-40">Chủ đầu tư:</div>
    <div class="min-w-0 grow">Phú Mỹ Hưng</div>
  </div>

  <div class="flex items-start space-x-4 py-3">
    <div class="w-32 shrink-0 font-bold md:w-40">Thời gian dự kiến:</div>
    <div class="min-w-0 grow">Khởi công: 2019, Hoàn tất: 06/2023</div>
  </div>

  <div class="flex items-start space-x-4 py-3">
    <div class="w-32 shrink-0 font-bold md:w-40">Tiêu chuẩn bàn giao:</div>
    <div class="min-w-0 grow">Hoàn thiện cao cấp</div>
  </div>

  <div class="flex items-start space-x-4 py-3">
    <div class="w-32 shrink-0 font-bold md:w-40">Khối đế:</div>
    <div class="min-w-0 grow">
      Gồm 2 khối công trình cao 24 tầng (không tính tầng hầm)
    </div>
  </div>

  <div class="flex items-start space-x-4 py-3">
    <div class="w-32 shrink-0 font-bold md:w-40">Pháp lý dự án:</div>
    <div class="min-w-0 grow">
      Sở hữu lâu dài với người Việt Nam & 50 năm đối với người nước ngoài
    </div>
  </div>
</div> -->
</section>
