<!-- header top start -->
<div class="font-lora bg-primary py-[11px] text-white">
  <div class="container">
    <div class="grid grid-cols-12 items-center gap-x-[30px]">
      <div class="col-span-12 text-center sm:col-span-6 sm:text-left">
        <p>
          Have a question?
          <a class="hover:text-secondary" href="tel:9985254784"
            >+9985 254 784</a
          >
        </p>
      </div>
      <div class="col-span-12 text-center sm:col-span-6 sm:text-right">
        <p>Visit us: 9am to 10 pm ( Mon - Fri)</p>
      </div>
    </div>
  </div>
</div>
<!-- header top end -->
