<section class="py-10">
  <h2
    class="font-lora mb-6 text-left text-2xl font-medium text-primary md:text-3xl"
  >
    Vị trí The Antonia <br />
    Viên ngọc xanh giữa phố thị phồn hoa
  </h2>

  <div class="prose">
    <p></p>
    <div
      style="background: #d8d8d8; border: 2px solid #ccc; padding: 10px 15px"
    >
      <div
        style="
          position: relative;
          padding-bottom: 56.25%;
          padding-top: 25px;
          height: 0;
        "
      >
        <iframe
          src="https://www.youtube.com/embed/CXC5x4jFfCE"
          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
        ></iframe>
      </div>
    </div>
    <p></p>
    <p style="text-align: justify">
      <strong>The Antonia&nbsp;</strong>là một trong những dự án căn
      hộ&nbsp;<strong>CAO CẤP &amp; ĐẸP NHẤT</strong>&nbsp;khu Nam Viên, sở hữu
      nhiều giá trị độc đáo về vị trí, quy hoạch và thiết kế mà rất ít dự án có
      được. Trong bối cảnh quỹ đất dành cho phát triển nhà ở ngày càng trở nên
      khan hiếm, <strong>The Antonia</strong> như một viên ngọc sáng giữa bán
      đảo xanh Nam Viên mà bất kỳ ai cũng mong muốn sở hữu.
    </p>

    <p style="text-align: justify">
      <img
        alt="The Antonia có vị trí chiến lược kết nối ngàn tiện ích"
        src="https://phumyhungsale.com/data/upload/image_manual/project/vi-tri-can-ho-the-antonia.jpg?1582276278593"
        style="height: 813px; text-align: center; width: 1300px"
      />
    </p>

    <p style="text-align: justify">
      <strong>Thứ nhất: The Antonia&nbsp;</strong>sở hữu phong cách sống<strong
        >&nbsp;MỘT BƯỚC XUỐNG PHỐ</strong
      >&nbsp;với vị trí đắc địa&nbsp;ngay mặt tiền&nbsp;đại lộ thương mại tỷ đô
      Nguyễn Lương Bằng. Đây là một trong ba tuyến đường chính của đô thị có lộ
      giới 48m, được quy hoạch là tuyến đường doanh thương quy mô nhất Phú Mỹ
      hưng theo tiêu chuẩn Mỹ, là nơi tập trung&nbsp;hơn 50 thương hiệu của các
      tập đoàn lớn như Vinamilk, Unilever, KPMG, Saigon Center, Manulife....
    </p>

    <p style="text-align: justify">
      Với định danh là tuyến phố tài chính, tuyến đường này tập trung 15 trụ sở
      cuả các ngân hàng Vietcombank, Viettinbank, HSBC, BIDV, VIB, Eximbank, MB
      Bank, Techcombank. Hơn 10 siêu thị và 22 cửa hàng F&amp;B , dịch vụ,
      thương mại trải dọc theo tuyến phố. Đây cũng là cung đường kết nối trực
      tiếp 5/8 tiểu khu của Phú Mỹ Hưng với nhiều kế hoạch đổi mới hạ tầng, cảnh
      quan mỗi năm, đảm bảo tỉ suất cho thuê ổn định &amp; tăng đều theo giá trị
      thời gian.
    </p>

    <p style="text-align: justify">
      <img
        alt=""
        src="http://phumyhungsale.com/data/upload/image_manual/Screen%20Shot%202023-04-06%20at%2016.38.50.png?1680774000003"
        style="height: 569px; text-align: center; width: 1600px"
      /><strong>Thứ hai:&nbsp;</strong>Giá trị của&nbsp;<strong
        >The Antonia&nbsp;</strong
      >tạo nên sức hút đặc biệt khi toạ lạc ngay khu Nam Viên&nbsp;–&nbsp;nơi
      được ví như<strong>&nbsp;BÁN ĐẢO XANH</strong>&nbsp;của đô thị nhờ diện
      tích mảng xanh công viên lớn có quy mô từ&nbsp;10,000- 45,000m2 và bao bọc
      bởi dòng sông Cả Cấm yên ả. Nơi đây cũng sở hữu mật độ cây xanh lớn nhất
      đến16m2/người cao hơn gấp nhiều lần so với trung bình ở TP. HCM đem đến
      không gian sống an lành giữa thiên nhiên xanh mát.
    </p>

    <p style="text-align: justify">
      Không chỉ thừa hưởng tầm nhìn đẹp, môi trường sống trong lành mà theo các
      chuyên gia phong thuỷ hàng đầu, nơi đây còn hội tụ khí tốt bởi có dòng
      nước tự nhiên, thông thuỷ ngày đêm, mang lại nhiều may mắn, tài lộc cho cư
      dân.&nbsp;
    </p>

    <p style="text-align: center">
      <img
        alt=""
        src="http://phumyhungsale.com/data/upload/image_manual/PMH-Cover_1535010603_VnEx_1.jpg?1680771817490"
        style="height: 986px; width: 1920px"
      />
    </p>

    <div style="text-align: center">
      <p style="text-align: justify">
        <strong>Thứ ba</strong>,&nbsp;<strong>The Antonia&nbsp;</strong
        >là&nbsp;<strong>TÂM ĐIỂM KẾT NỐI</strong>&nbsp;biệt thự lâu đài Chateau
        và khu phức hợp Midtown nổi tiếng với&nbsp;địa danh công viên hoa anh
        đào&nbsp;<a href="https://phumyhungsale.com/vi/du-an/midtown/tien-ich"
          ><strong>SAKURA PARK</strong></a
        >&nbsp;– Hai công trình nhà ở&nbsp;sang trọng bậc nhất Phú Mỹ Hưng cùng
        cộng đồng tinh hoa thanh thế. Khu Nam Viên còn được biết đến
        là&nbsp;<strong>TOẠ ĐỘ BDS HẠNG SANG</strong>&nbsp;với các dự án biệt
        thự và căn hộ nghỉ dưỡng khác như Mỹ Văn, Nam Viên, Mỹ Phú, The
        Ascentia, Hưng Phúc Premier.... Với chỉ trong khoảng cách vài bước chân
        cư dân có thể tiếp cận hệ thống shophouse ở khối đế với đa dạng các loại
        hình dịch vụ từ nhà hàng, cafe, siêu thị.....
      </p>

      <p>
        <img
          alt=""
          src="http://phumyhungsale.com/data/upload/image_manual/Thuong-pho-ty-do-cua-Phu-My-Hung-3.jpg?1680774280592"
          style="height: 1438px; width: 1920px"
        />
      </p>
    </div>
  </div>
</section>
